POSTGRES_USER=axion_user
POSTGRES_PASSWORD=P@ssw01rd@123
# URL-encoded form of the password used inside DSNs (libpq decodes %40 -> @)
POSTGRES_DB_ENCODED_PASSWORD=P%40ssw01rd%40123
POSTGRES_DB=axion_db
POSTGRES_PORT=5432

QUERY_PORT=8000
INGESTION_PORT=8001
UI_PORT=8080
SIMULATOR_INTERVAL_SECONDS=5